@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

html {
    height: 100%;
  }

body {
  font-family: 'Roboto', sans-serif;
  background-color: #ffffff; /* White background */
  color: #333; /* Black text for readability */
  display: flex;
  flex-direction: column;
  min-height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
  
nav {
  background-color: #ff6600; /* Or any other color you're using */
  color: white;
  text-align: left; /* Align text to the left */
  padding: 10px 20px; /* Added horizontal padding */
}

  nav ul li {
    display: inline;
    margin-right: 20px;
  }

    nav a {
      color: white;
      text-decoration: none;
      font-weight: bold;
      padding: 10px; /* Padding for clickable area */
    }

      nav a:hover {
        background-color: #555; /* Hover effect */
        border-radius: 5px;
      }
  
header {
  background: #000000; /* Black */
  color: white; /* White text */
  padding: 20px 0;
  text-align: center;
}

header h1 {
  margin: 0;
}
        
main {
  flex: 1 0 auto; /* Flex grow and shrink as needed, but don't let it be squeezed smaller */
  padding: 20px;
}
  
section {
  margin-bottom: 40px;
}
  
#prediction {
  margin-top: 20px;
  padding: 20px;
  border: 2px solid #ff6600;
  border-radius: 10px;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Shadow for depth */
  margin-left: auto; /* Centering */
  margin-right: auto;
  max-width: 600px; /* Max width for better readability */
}

@media (max-width: 768px) {
  nav ul li {
    display: block;
    margin: 5px 0;
  }

  #prediction {
    margin-left: 20px;
    margin-right: 20px;
  }
}

footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px 0;
  margin-top: auto; /* Push footer to the bottom */
}

.confidence-query {
  display: flex;
  flex-direction: column; /* Stack items vertically */
  align-items: center; /* Center-align items */
  justify-content: center; /* Center content vertically */
  margin-top: 20px; /* Adjust as needed */
  text-align: center;
}

.confidence-query span {
  margin-bottom: 10px; /* Space between text and buttons */
}

.confidence-query button {
  padding: 10px 20px; /* Button size */
  font-size: 1rem; /* Font size */
  background-color: #ff6600; /* Button background color */
  color: white; /* Text color */
  border: none; /* Remove default border */
  border-radius: 5px; /* Rounded corners */
  cursor: pointer; /* Cursor changes to a hand symbol */
  transition: background-color 0.3s ease; /* Smooth background color transition */
  margin: 0 5px; /* Adjust margin for horizontal spacing */
}

.confidence-query button:hover {
  background-color: #000000; /* Darker shade on hover */
}

.date {
  margin-top: 20px;
  padding: 20px;
  border: 2px solid #000000;
  border-radius: 10px;
  background-color: #ff6600;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Shadow for depth */
  margin-left: auto; /* Centering */
  margin-right: auto;
  max-width: 600px; /* Max width for better readability */
  text-align: center;
}
