/* Highlight form inputs on focus */
input[type="text"]:focus,
input[type="email"]:focus {
border-color: orange;
}

/* Remove highlighting from form inputs when not focused */
input[type="text"],
input[type="email"] {
border-color: black;
}

/* Change navbar background color */
.navbar {
background-color: orange;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.alert {
    text-align: center;
  }

.btn{
    color: black;
    background-color: orange;
}

.jumbotron-home {
  background-image: url("../styles/images/winter_background.png");
  background-size: cover;
  background-position: center;
  color: #fff; /* set text color to white to make it more readable */
}

.jumbotron-history {
  background-image: url("../styles/images/history_background.png");
  background-size: cover;
  background-position: center;
  color: #fff; /* set text color to white to make it more readable */
}

.jumbotron-contact {
  background-image: url("../styles/images/contact_background.png");
  background-size: cover;
  background-position: center;
  color: #fff; /* set text color to white to make it more readable */
}

.table-cell {
  border: 1px solid black;
  padding: 10px;
}
  